body {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 80vw;
  min-height: calc(100vh - 100px);
  font-family: Arial, sans-serif;
  text-align: center;
}
header img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
header h1 {
  margin-top: 20px;
}
main {
  margin-top: 40px;
}
section {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}
hr {
  width: 80%;
  margin: 30px auto;
}
