#email {
  padding: 50px;
  margin-top: 50px;
  width: 500px;
  border: 2px solid black;
  box-sizing: border-box;
}
#confidential,
#top-secret {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  border: 2px solid black;
}
#confidential {
  transform: rotate(-10deg);
}
#top-secret {
  transform: rotate(10deg);
}
.blurred {
  filter: blur(3px);
}
