tr[class='read'] {
  background-image: linear-gradient(45deg,limegreen, green);
}
tr[class="to-read"] {
    background-image: linear-gradient(45deg,limegreen, yellow);
}
tr[class="in-progress"] {
  background-image: linear-gradient(45deg,limegreen, blue);
}
span {
  display: inline-block;
}
tr[class="to-read"] span[class="status"] {
  border: 2px solid blue;
  background-image: linear-gradient(45deg, lightblue, blue);
  border-radius: 10px;
}
tr[class="read"] span[class="status"] {
  border: 2px solid blue;
  background-image: linear-gradient(45deg, lightblue, purple);
  border-radius: 10px;
}tr[class="in-progress"] span[class="status"] {
  border: 2px solid blue;
  background-image: linear-gradient(45deg, white, yellow);
  border-radius: 10px;
}
span[class="status"], span[class^="rate"] {
  height: 40px;
  width: 60px;
  padding: 2px 6px;
  text-align: center;
}
span[class^="rate"] > span {
  border: 2px solid grey;
  border-radius: 10px;
  margin: 2px;
  height: 10px;
  width: 10px;
  background-color: white;
}

span[class*="one"] > *:nth-child(1) {
  background-image: linear-gradient(45deg, orange, yellow);
}
span[class*="two"] *:nth-child(1) {
  background-image: linear-gradient(45deg, orange, yellow);
}
span[class*="two"] *:nth-child(2) {
  background-image: linear-gradient(45deg, orange, yellow);
}
span[class*="three"] > span {
  background-image: linear-gradient(45deg, orange, yellow);
}
