#house {
    position: relative;
    width: 500px;
    height: 400px;
    background-color: #e6d3a3;
    border: 3px solid #333;
    margin: 40px auto;
}
#house > div {
    position: absolute;
}
#roof {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #8b0000;
    border: 2px solid #333;
}

#chimney {
  position: absolute;
  top: -50px; 
  right: 100px;
  z-index: -1;
  height: 50px;
  width: 50px;
  background-color: #C1785A;
  border: 3px solid #E97F4A;
}
#window-1,
#window-2 {
    width: 80px;
    height: 60px;
    background-color: #add8e6;
    border: 2px solid #333;
    top: 130px;
}

#window-1 {
    left: 80px;
}

#window-2 {
    right: 80px;
}
#door {
    width: 100px;
    height: 150px;
    background-color: #654321;
    border: 2px solid #333;
    bottom: 0;
    left: 200px;
}